In [311]:
import pandas as pd

In [312]:
player_csv = "Resources/People.csv"
salary_csv = "Resources/Salaries.csv"
batting_csv = "Resources/Batting.csv"
fielding_csv = "Resources/Fielding.csv"

player_df = pd.read_csv(player_csv)
salary_df = pd.read_csv(salary_csv)
batting_df = pd.read_csv(batting_csv)
fielding_df = pd.read_csv(fielding_csv)

In [313]:
salary_df.count()

yearID      26428
teamID      26428
lgID        26428
playerID    26428
salary      26428
dtype: int64

In [314]:
edited_player_df = player_df[["playerID", "nameFirst", "nameLast"]]
edited_salary_df = salary_df[["playerID", "salary", "yearID"]]
edited_salary_df.nunique()

playerID    5149
salary      3393
yearID        32
dtype: int64

In [315]:
#!pip install cpi
import cpi

adjusted_salary = []

for i, row in edited_salary_df.iterrows():
    row_salary = row["salary"]
    row_year = row["yearID"]
    adjusted = cpi.inflate(row_salary, row_year, to = 2016)
    adjusted = round(adjusted)
    adjusted_salary.append(adjusted)

# adjusted_salary

edited_salary_df["Adjusted Salary"] = adjusted_salary

/anaconda3/envs/pythondatapython=3.6/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [316]:
#edited_salary_df

In [317]:
batting_df.count()

playerID    105861
yearID      105861
stint       105861
teamID      105861
lgID        105123
G           105861
AB          105861
R           105861
H           105861
2B          105861
3B          105861
HR          105861
RBI         105105
SB          103493
CS           82320
BB          105861
SO          103761
IBB          69210
HBP         103044
SH           99792
SF           69757
GIDP         80420
dtype: int64

In [318]:
edited_batting_df = batting_df[["playerID",'yearID', "AB", "H", "HR", "RBI", "SO"]]
edited_batting_df = edited_batting_df[edited_batting_df.yearID < 2017]
#edited_batting_df

In [319]:
fielding_df.count()
#fielding_df

playerID    140921
yearID      140921
stint       140921
teamID      140921
lgID        139408
POS         140921
G           140921
GS           93544
InnOuts     110992
PO          140921
A           140921
E           140920
DP          140921
PB           11478
WP            1169
SB            8691
CS            8691
ZR            1169
dtype: int64

In [320]:
edited_fielding_df = fielding_df[["playerID", "POS"]]
edited_fielding_df.count()

playerID    140921
POS         140921
dtype: int64

In [321]:
edited_fielding_df.nunique()

playerID    19229
POS             7
dtype: int64

In [322]:
edited_fielding_df = edited_fielding_df.drop_duplicates("playerID")
#edited_fielding_df

In [323]:
salary_batting_merged_df = pd.merge(edited_salary_df, edited_batting_df, on = ["playerID", "yearID"] )

fielding_player_merged_df = pd.merge(edited_fielding_df,edited_player_df, on = "playerID")
final_df = pd.merge(player_batting_merged_df, fielding_salary_merged_df, on = ["playerID", "yearID"])
final_df

,playerID,nameFirst,nameLast,yearID,AB,H,HR,RBI,SO,POS,salary,Adjusted Salary
0,aardsda01,David,Aardsma,2004,0,0,0,0.0,0.0,P,300000,381165
1,aardsda01,David,Aardsma,2007,0,0,0,0.0,0.0,P,387500,448547
2,aardsda01,David,Aardsma,2008,1,0,0,0.0,1.0,P,403250,449519
3,aardsda01,David,Aardsma,2009,0,0,0,0.0,0.0,P,419000,468744
4,aardsda01,David,Aardsma,2010,0,0,0,0.0,0.0,P,2750000,3026834
5,aardsda01,David,Aardsma,2012,0,0,0,0.0,0.0,P,500000,522677
6,aasedo01,Don,Aase,1986,0,0,0,0.0,0.0,P,600000,1313907
7,aasedo01,Don,Aase,1987,0,0,0,0.0,0.0,P,625000,1320461
8,aasedo01,Don,Aase,1988,0,0,0,0.0,0.0,P,675000,1369440
9,aasedo01,Don,Aase,1989,5,0,0,0.0,3.0,P,400000,774216
10,abadan01,Andy,Abad,2006,3,0,0,0.0,0.0,1B,327000,389297
11,abadfe01,Fernando,Abad,2011,0,0,0,0.0,0.0,P,418000,446001
12,abadfe01,Fernando,Abad,2012,7,1,0,0.0,3.0,P,485000,506997
13,abadfe01,Fernando,Abad,2014,0,0,0,0.0,0.0,P,525900,533166
14,abadfe01,Fernando,Abad,2015,0,0,0,0.0,0.0,P,1087500,1101219
15,abadfe01,Fernando,Abad,2016,1,0,0,0.0,1.0,P,1250000,1250000
16,abadfe01,Fernando,Abad,2016,0,0,0,0.0,0.0,P,1250000,1250000
17,abbotje01,Jeff,Abbott,1998,244,68,12,41.0,28.0,OF,175000,257676
18,abbotje01,Jeff,Abbott,1999,57,9,2,6.0,12.0,OF,255000,367358
19,abbotje01,Jeff,Abbott,2000,215,59,3,29.0,38.0,OF,255000,355411
20,abbotje01,Jeff,Abbott,2001,42,11,0,5.0,7.0,OF,300000,406562
21,abbotji01,Jim,Abbott,1989,0,0,0,0.0,0.0,P,68000,131617
22,abbotji01,Jim,Abbott,1990,0,0,0,0.0,0.0,P,185000,339719
23,abbotji01,Jim,Abbott,1991,0,0,0,0.0,0.0,P,357500,629974
24,abbotji01,Jim,Abbott,1992,0,0,0,0.0,0.0,P,1850000,3164739
25,abbotji01,Jim,Abbott,1993,0,0,0,0.0,0.0,P,2350000,3903228
26,abbotji01,Jim,Abbott,1994,0,0,0,0.0,0.0,P,2775000,4494058
27,abbotji01,Jim,Abbott,1995,0,0,0,0.0,0.0,P,2775000,4370206
28,abbotji01,Jim,Abbott,1995,0,0,0,0.0,0.0,P,2775000,4370206
29,abbotji01,Jim,Abbott,1996,0,0,0,0.0,0.0,P,2200000,3365299
...,...,...,...,...,...,...,...,...,...,...,...,...
28264,zitoba01,Barry,Zito,2010,51,6,0,2.0,17.0,P,18500000,20362336
28265,zitoba01,Barry,Zito,2011,13,0,0,0.0,5.0,P,18500000,19739260
28266,zitoba01,Barry,Zito,2012,53,4,0,2.0,12.0,P,19000000,19861725
28267,zitoba01,Barry,Zito,2013,34,5,0,2.0,8.0,P,20000000,20605262
28268,zobribe01,Ben,Zobrist,2007,97,15,1,9.0,21.0,SS,383400,443801
28269,zobribe01,Ben,Zobrist,2008,198,50,12,30.0,37.0,SS,395800,441214
28270,zobribe01,Ben,Zobrist,2009,501,149,27,91.0,104.0,SS,415900,465276
28271,zobribe01,Ben,Zobrist,2010,541,129,10,75.0,107.0,SS,438100,482202
28272,zobribe01,Ben,Zobrist,2011,588,158,20,91.0,128.0,SS,4687300,5001288
28273,zobribe01,Ben,Zobrist,2012,560,151,20,74.0,103.0,SS,4687300,4899888
28274,zobribe01,Ben,Zobrist,2013,612,168,12,71.0,91.0,SS,5687300,5859415
28275,zobribe01,Ben,Zobrist,2014,570,155,10,52.0,84.0,SS,7000000,7096720
28276,zobribe01,Ben,Zobrist,2015,235,63,6,33.0,26.0,SS,7500000,7594613
28277,zobribe01,Ben,Zobrist,2015,232,66,7,23.0,30.0,SS,7500000,7594613
28278,zobribe01,Ben,Zobrist,2016,523,142,18,76.0,82.0,SS,10500000,10500000
28279,zoskyed01,Eddie,Zosky,1992,7,2,0,1.0,2.0,SS,109000,186463
28280,zuberjo01,Jon,Zuber,1996,91,23,1,10.0,11.0,1B,109000,166735
28281,zuletju01,Julio,Zuleta,2001,106,23,6,24.0,32.0,1B,200000,271041
28282,zumayjo01,Joel,Zumaya,2006,0,0,0,0.0,0.0,P,327000,389297
28283,zumayjo01,Joel,Zumaya,2007,0,0,0,0.0,0.0,P,410000,474592
28284,zumayjo01,Joel,Zumaya,2008,0,0,0,0.0,0.0,P,420000,468191
28285,zumayjo01,Joel,Zumaya,2009,0,0,0,0.0,0.0,P,735000,822260
28286,zumayjo01,Joel,Zumaya,2010,0,0,0,0.0,0.0,P,915000,1007110
28287,zuninmi01,Mike,Zunino,2014,438,87,22,60.0,158.0,C,504100,511065
28288,zuninmi01,Mike,Zunino,2015,350,61,11,28.0,132.0,C,523500,530104
28289,zupcibo01,Bob,Zupcic,1991,25,4,1,3.0,6.0,OF,100000,176217
28290,zupcibo01,Bob,Zupcic,1992,392,108,3,43.0,60.0,OF,109000,186463
28291,zupcibo01,Bob,Zupcic,1993,286,69,2,26.0,54.0,OF,222000,368730
28292,zuvelpa01,Paul,Zuvella,1989,58,16,2,6.0,11.0,SS,145000,280653
28293,zychto01,Tony,Zych,2016,0,0,0,0.0,0.0,P,511000,511000

In [324]:
final_df = final_df.drop_duplicates()
final_df = final_df[["playerID", "nameFirst", "nameLast","yearID", "AB", "H", "HR", "RBI", "SO", "POS" ,"Adjusted Salary" ]]


#hitters only
final_df = final_df.drop(final_df[final_df["POS"] == "P"].index)

final_df = final_df.rename(columns = {"playerID":"Player ID", "nameFirst": "First Name", "nameLast":"Last Name", "yearID": "Year"})


batting_avg = []


from math import ceil, floor
def float_round(num, places = 0, direction = floor):
    return direction(num * (10**places)) / float(10**places)

def foo(x,y):
    try:
        return x/y
    except ZeroDivisionError:
        return 0

for i, row in final_df.iterrows():
    row_hits = row["H"]
    row_atbats = row["AB"]
    avg = foo(row_hits,row_atbats)
    
    BA = float_round( avg, 3 , round)
    batting_avg.append(BA)
    
final_df["BA"] = batting_avg

final_df = final_df.drop(final_df[final_df.AB < 502].index)



final_df

,Player ID,First Name,Last Name,Year,AB,H,HR,RBI,SO,POS,Adjusted Salary,BA
63,abreubo01,Bobby,Abreu,1999,546,183,20,93.0,113.0,OF,576247,0.335
64,abreubo01,Bobby,Abreu,2000,576,182,25,79.0,116.0,OF,4088388,0.316
65,abreubo01,Bobby,Abreu,2001,588,170,31,110.0,137.0,OF,6752992,0.289
66,abreubo01,Bobby,Abreu,2002,572,176,20,85.0,117.0,OF,8449384,0.308
67,abreubo01,Bobby,Abreu,2003,577,173,20,101.0,126.0,OF,11869911,0.300
68,abreubo01,Bobby,Abreu,2004,574,173,30,105.0,116.0,OF,13467836,0.301
69,abreubo01,Bobby,Abreu,2005,588,168,24,102.0,134.0,OF,16098780,0.286
72,abreubo01,Bobby,Abreu,2007,605,171,16,101.0,115.0,OF,17363125,0.283
73,abreubo01,Bobby,Abreu,2008,609,180,20,100.0,109.0,OF,17835850,0.296
74,abreubo01,Bobby,Abreu,2009,563,165,15,103.0,113.0,OF,5593604,0.293
75,abreubo01,Bobby,Abreu,2010,573,146,20,78.0,132.0,OF,9906001,0.255
76,abreubo01,Bobby,Abreu,2011,502,127,8,60.0,113.0,OF,9602883,0.253
79,abreujo02,Jose,Abreu,2014,556,176,36,107.0,131.0,1B,7096720,0.317
80,abreujo02,Jose,Abreu,2015,613,178,30,101.0,140.0,1B,8775323,0.290
81,abreujo02,Jose,Abreu,2016,624,183,25,100.0,125.0,1B,11666667,0.293
112,ackledu01,Dustin,Ackley,2012,607,137,12,50.0,124.0,1B,2195243,0.226
114,ackledu01,Dustin,Ackley,2014,502,123,14,65.0,90.0,1B,1723489,0.245
130,adamsma01,Matt,Adams,2014,527,152,15,68.0,114.0,1B,523130,0.288
300,alfoned01,Edgardo,Alfonzo,1997,518,163,10,72.0,56.0,2B,321505,0.315
301,alfoned01,Edgardo,Alfonzo,1998,557,155,17,78.0,77.0,2B,2576762,0.278
302,alfoned01,Edgardo,Alfonzo,1999,628,191,27,108.0,85.0,2B,4033731,0.304
303,alfoned01,Edgardo,Alfonzo,2000,544,176,25,94.0,70.0,2B,5888673,0.324
306,alfoned01,Edgardo,Alfonzo,2003,514,133,13,81.0,41.0,2B,5217543,0.259
307,alfoned01,Edgardo,Alfonzo,2004,519,150,11,77.0,40.0,2B,8258579,0.289
319,alicelu01,Luis,Alicea,2000,540,159,6,63.0,75.0,2B,1045327,0.294
371,alomaro01,Roberto,Alomar,1989,623,184,7,56.0,76.0,2B,290331,0.295
372,alomaro01,Roberto,Alomar,1990,586,168,6,60.0,72.0,2B,716165,0.287
373,alomaro01,Roberto,Alomar,1991,637,188,9,69.0,86.0,2B,2290816,0.295
374,alomaro01,Roberto,Alomar,1992,571,177,8,76.0,52.0,2B,5103498,0.310
375,alomaro01,Roberto,Alomar,1993,589,192,17,93.0,67.0,2B,8194010,0.326
...,...,...,...,...,...,...,...,...,...,...,...,...
28150,youngmi02,Michael,Young,2008,645,183,12,82.0,109.0,2B,6883494,0.284
28151,youngmi02,Michael,Young,2009,541,174,22,68.0,90.0,2B,14604370,0.322
28152,youngmi02,Michael,Young,2010,656,186,21,91.0,115.0,2B,14501256,0.284
28153,youngmi02,Michael,Young,2011,631,213,11,106.0,78.0,2B,17258488,0.338
28154,youngmi02,Michael,Young,2012,611,169,8,67.0,70.0,2B,16908573,0.277
28158,yountro01,Robin,Yount,1986,522,163,9,46.0,73.0,SS,2080353,0.312
28159,yountro01,Robin,Yount,1987,635,198,21,103.0,94.0,SS,2429648,0.312
28160,yountro01,Robin,Yount,1988,621,190,13,91.0,63.0,SS,2333120,0.306
28161,yountro01,Robin,Yount,1989,614,195,21,103.0,71.0,SS,2225871,0.318
28162,yountro01,Robin,Yount,1990,587,145,17,77.0,89.0,SS,5876223,0.247
28163,yountro01,Robin,Yount,1991,503,131,10,77.0,79.0,SS,5638931,0.260
28164,yountro01,Robin,Yount,1992,557,147,8,77.0,81.0,SS,5474144,0.264
28206,zeileto01,Todd,Zeile,1991,565,158,11,81.0,94.0,C,281947,0.280
28208,zeileto01,Todd,Zeile,1993,571,158,17,103.0,76.0,C,1702472,0.277
28214,zeileto01,Todd,Zeile,1997,575,154,31,90.0,112.0,C,4635649,0.268
28218,zeileto01,Todd,Zeile,1999,588,172,24,98.0,94.0,C,4609978,0.293
28219,zeileto01,Todd,Zeile,2000,544,146,22,79.0,85.0,C,6039665,0.268
28220,zeileto01,Todd,Zeile,2001,531,141,10,62.0,102.0,C,9260575,0.266
28221,zeileto01,Todd,Zeile,2002,506,138,18,87.0,92.0,C,9116441,0.273
28245,zimmery01,Ryan,Zimmerman,2006,614,176,20,110.0,120.0,3B,389297,0.287
28247,zimmery01,Ryan,Zimmerman,2009,610,178,33,106.0,119.0,3B,3719747,0.292
28248,zimmery01,Ryan,Zimmerman,2010,525,161,25,85.0,98.0,3B,6989234,0.307
28250,zimmery01,Ryan,Zimmerman,2012,578,163,25,95.0,116.0,3B,12544248,0.282
28251,zimmery01,Ryan,Zimmerman,2013,568,156,26,79.0,133.0,3B,14526710,0.275
28271,zobribe01,Ben,Zobrist,2010,541,129,10,75.0,107.0,SS,482202,0.238
28272,zobribe01,Ben,Zobrist,2011,588,158,20,91.0,128.0,SS,5001288,0.269
28273,zobribe01,Ben,Zobrist,2012,560,151,20,74.0,103.0,SS,4899888,0.270
28274,zobribe01,Ben,Zobrist,2013,612,168,12,71.0,91.0,SS,5859415,0.275
28275,zobribe01,Ben,Zobrist,2014,570,155,10,52.0,84.0,SS,7096720,0.272
28278,zobribe01,Ben,Zobrist,2016,523,142,18,76.0,82.0,SS,10500000,0.272

In [325]:
final_df.to_csv("MLB_data.csv")